<div class="form-group row">
    <label class="col-sm-4 col-form-label text-sm" for="status">{{item}} </label>
    <div class="col-sm-8">
    <textarea class="form-control text-sm" id="{{id}}" {{status}} value="{{value}}" placeholder="Please enter '{{item}}'" ></textarea>
    </div>
</div>