
<div class="card bg-primary border-info">
    <h4 class="card-header">
        <img src="https://img.icons8.com/ios-filled/25/FFFFFF/work.png"/>
        {{workorder.ordernumber}}
        <span class="float-right">
            <i class="fa fa-door-closed"></i>
                {{workorder.request.user.unitnumber}}
        </span>
    </h4>
    <div class="card-body">
        <h6 class="card-title border border-success p-2">
            <a data-toggle="tooltip" data-placement="top" title="Request link" href="/requests/{{workorder.request.id}}">
                <i class="fa fa-tools"></i>
                {{workorder.request.categorymaintenance}} 
                <span class="float-right">
                <i class="fa fa-calendar"></i>
                {{formatDateTime workorder.createdAt}}
            </span>
            </a>
        </h6>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="tenant">
                <i class="fa fa-user"></i>
            </label>
            <div class="col-sm-8">
                <input class="form-control" id="tenant-{{workorder.id}}" disabled value="{{workorder.request.user.username}}"></input>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="description">Request Description</label>
            <div class="col-sm-8">
                <textarea class="form-control" id="description" disabled placeholder="No description">{{workorder.request.description}}</textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="wo-status">Status</label>
            <div class="col-sm-8">
                {{!-- <input class="form-control" id="wo-status" disabled value="{{workorder.status}}"></input> --}}
                {{log "Admin: " isAdmin " Worker: " isWorker}}
                <select class="form-control" id="wo-status-{{workorder.id}}" {{getFormOptions isAdmin isWorker}}>
                    <option value="{{workorder.status}}" selected disabled hidden>{{workorder.status}}</option>
                    <option value="Open">Open</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Completed">Completed</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="wo-urgency-{{workorder.id}}">Urgency</label>
            <div class="col-sm-8">
                {{!-- <input class="form-control" id="wo-status" disabled value="{{workorder.status}}"></input> --}}
                <select class="form-control" id="wo-urgency-{{workorder.id}}" {{getFormOptions isAdmin false}}>
                     <option value="{{workorder.levelofurgency}}" selected disabled hidden>{{workorder.levelofurgency}}</option>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="wo-assigned-to-{{workorder.id}}">Assigned To</label>
            <div class="col-sm-8">
                <select class="form-control" id="wo-assigned-to-{{workorder.id}}" {{getFormOptions isAdmin false}}>
                    <option value="{{workorder.assignedto}}" selected disabled hidden>{{workorder.assignedto}}</option>
                    {{#each workers as |worker|}}
                    <option value="{{worker.username}}">{{worker.username}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="wo-notes">Notes</label>
            <div class="col-sm-8">
                <textarea class="form-control" id="wo-notes-{{workorder.id}}" {{getFormOptions isAdmin}} placeholder="Enter notes">{{workorder.notes}}</textarea>
            </div>
        </div>
        {{> workorder-item item="Invoice" name="wo-invoice" isAdmin=isAdmin  wo=workorder.id value=workorder.invoice}}
        {{> workorder-item item="Amount $" name="wo-invoice-amount" isAdmin=isAdmin wo=workorder.id value=workorder.invoiceamount}}
        {{!-- // Add save button --}}
    </div>
    <div class="card-footer">
        <div class="btn-group float-right">
            {{#unless isTenant}}
            <a class="btn btn-success wo-save" id="wo-save-{{workorder.id}}" onclick="saveWorkOrder(this)" data-id={{workorder.id}} >
                <i class="fa fa-save"></i>
                Save
            </a>
            {{/unless}}
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
{{!-- Add jQuery to workorder-view.js --}}
<script src="/js/workorder.js"></script>