<div class="card bg-primary border-info">
    <h4 class="card-header">Work Order: {{workorder.ordernumber}}</h4>
    <div class="card-body">
        <h5 class="card-title">
            <i class="fa fa-door-closed"></i>
            {{workorder.request.tenant.unitnumber}}
        </h5>
        <h5 class="card-title">
            <i class="fa fa-user"></i>
            {{workorder.request.tenant.user.username}}
        </h5>
        {{> workorder-item item="Status" value=workorder.status}}
           <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="status">Date</label>
            <div class="col-sm-8">
                <input class="form-control" id="status" disabled value="{{formatDate workorder.createdAt}}"></input>
            </div>
        </div>
        {{> workorder-item item="Assigned To" value=workorder.assignedto}}
        {{> workorder-item item="Urgency" value=workorder.levelofurgency}}
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="status">Notes</label>
            <div class="col-sm-8">
                <textarea class="form-control" id="status" disabled>{{workorder.notes}}</textarea>
            </div>
        </div>
        <a href="/request" class="btn-link">Request</a>
    </div>
</div>