<h2 class="text-center">
    <i class="fa fa-tools"></i>
    Requests
</h2>
{{#if isAdmin}}
<div class="row">
    <div class="col text-center mb-4">
        <div class="btn-group mr-2" role="group">
        <a type="button" href="/requests?status=New" class="btn btn-warning">
            New
            <span class="badge badge-light">{{requestsByStatus requestsCount 'New'}} </span>
        </a>
        <a type="button" href="/requests?status=Accepted" class="btn btn-success">
            Accepted
            <span class="badge badge-light">{{requestsByStatus requestsCount 'Accepted'}} </span>
        </a>
        <a type="button" href="/requests?status=Rejected" class="btn btn-danger">
            Rejected
            <span class="badge badge-light">{{requestsByStatus requestsCount 'Rejected'}}  </span>
        </a>
        <a type="button" href="/requests?status=Closed" class="btn btn-dark">
            Closed
            <span class="badge badge-light">{{requestsByStatus requestsCount 'Closed'}}  </span>
        </a>
        <a type="button" href="/requests" class="btn btn-primary">
            All
            <span class="badge badge-light">{{requestsByStatus requestsCount 'All'}}</span>
        </a>
        </div>
    </div>
</div>
{{/if}}

<div class="col mb-4">
{{#each requests as |request|}}
    {{> request-view isAdmin=../isAdmin request=request}}
{{/each}}
</div>

{{! Path: views/partials/request-view.handlebars }}
{{!-- <div class="card"> --}}
</div>