<h2>
    <i class="fa fa-users"></i>
    User
</h2>

{{! Path: views/partials/user-view.handlebars }}
<div class="card col-8">
    <div class="card-body">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="username">
                <i class="fa fa-user"></i>
            </label>
            <div class="col-sm-8">
                <input class="form-control" id="username" disabled value="{{user.username}}"></input>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="email">
                <i class="fa fa-envelope"></i>
            </label>
            <div class="col-sm-8">
                <input class="form-control" id="username" disabled value="{{user.email}}"></input>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="phoneinfo">
                <i class="fa fa-phone"></i>
            </label>
            <div class="col-sm-8">
                <input class="form-control" id="phoneinfo" disabled value="{{user.phoneinfo}}"></input>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="username">Role</label>
            <div class="col-sm-8">
                <input class="form-control" id="username" disabled value="{{user.role}}"></input>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="admin">Admin</label>
            <div class="col-sm-8">
                <input class="form-control" id="admin" disabled value="{{user.isAdmin}}"></input>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="unitnumber">
                <i class="fa fa-door-closed"></i>
            </label>
            <div class="col-sm-8">
                <input class="form-control" id="unitnumber" disabled value="{{user.unitnumber}}"></input>
            </div>
        </div>
    </div>
    <div class="card-footer">
         <div class="btn-group float-right">
        <a href="/users/{{user.id}}" class="btn btn-success">
            <i class="fa fa-save"></i>
            Save
        </a>
        {{!-- <a href="/users/{{user.id}}" class="btn btn-danger">
            <i class="fa fa-trash"></i>
        </a> --}}
        </div>
    </div>
</div>